/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  padding: 50px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px 0;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px 0;
}

li {
  margin-bottom: 1em;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

a {
  color: #4183c4;
  font-weight: 400;
  text-decoration: none;
}

h1 a, h2 a {
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #ddd;
  color: #666;
  margin: 0;
  padding: 0 0 0 20px;
}

.tagline {
  color: #666;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #333;
  font-weight: 700;
}

th {
  color: #333;
}

p, pre, img, .gist {
  max-width: 100%;
  display: block;
  margin: 1em 0;
}

header {
  width: 270px;
  float: left;
  position: fixed;
}

header img {
  border: 1px solid #ddd;
  padding: 2px;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 40px 0;
}

