---
layout: post
title: Easy Upload via URL with Paperclip
tags:
- General
status: publish
type: post
published: true
meta:
  _edit_last: '1'
---
I've been using <a href="http://www.thoughtbot.com/projects/paperclip">Paperclip</a> to handle file uploads lately, and I wanted to be able to accept file "uploads" with a URL. We already knew <a href="http://almosteffortless.com/2008/10/24/easy-upload-via-url-with-attachment_fu/">how to accomplish this with attachment_fu</a>, and getting it working in Paperclip wasn't too difficult. 

This example shows a <i>Photo</i> model that has an <i>Image</i> attachment. 

The technique we're using requires adding a <i>*_remote_url</i> (string) column for your attachment, which is used to store the original URL. So, in this case, we need to add a column named <i>image_remote_url</i> the <i>photos</i> table. 

<pre lang="ruby">
# db/migrate/20081210200032_add_image_remote_url_to_photos.rb

class AddImageRemoteUrlToPhotos < ActiveRecord::Migration
  def self.up
    add_column :photos, :image_remote_url, :string
  end

  def self.down
    remove_column :photos, :image_remote_url
  end
end
</pre>

Nothing special is required for the controller...

<pre lang="ruby">
# app/controllers/photos_controller.rb

class PhotosController < ApplicationController
  
  def create
    @photo = Photo.new(params[:photo])
    if @photo.save
      redirect_to photos_path
    else
      render :action => 'new'
    end
  end
  
end
</pre>

In the form, we a add a text_field called :image_url, so people can upload a file or provide a URL...

<pre lang="ruby">
# app/views/photos/new.html.erb

<%= error_messages_for :photo %>
<% form_for :photo, :html => { :multipart => true } do |f| %>
  Upload a photo: <%= f.file_field :image %><br>
  ...or provide a URL: <%= f.text_field :image_url %><br>
  <%= f.submit 'Submit' %>
<% end %>
</pre>

The meaty stuff is in the <i>Photo</i> model. We need to require open-uri, add an attr_accessor :image_url, and do the normal has_attached_file stuff. Then, we add a before_validation callback to download the file in the image_url attribute (if provided) and save the original URL as image_remote_url. Finally, we do a validates_presence_of :image_remote_url, which allows us to rescue from the many exceptions that can be raised when attempting to download the file. 

<pre lang="ruby">
# app/models/photo.rb

require 'open-uri'

class Photo < ActiveRecord::Base
  
  attr_accessor :image_url
  
  has_attached_file :image # etc...
  
  before_validation :download_remote_image, :if => :image_url_provided?

  validates_presence_of :image_remote_url, :if => :image_url_provided?, :message => 'is invalid or inaccessible'
    
private
  
  def image_url_provided?
    !self.image_url.blank?
  end
  
  def download_remote_image
    self.image = do_download_remote_image
    self.image_remote_url = image_url
  end
  
  def do_download_remote_image
    io = open(URI.parse(image_url))
    def io.original_filename; base_uri.path.split('/').last; end
    io.original_filename.blank? ? nil : io
  rescue # catch url errors with validations instead of exceptions (Errno::ENOENT, OpenURI::HTTPError, etc...)
  end
  
end
</pre>

Everything will work as normal, including the creation of thumbnails, etc. Plus, since we're doing all of the hard stuff in the model, "uploading" a file via URL works from within script/console as well:

<pre lang="ruby">
$ script/console
Loading development environment (Rails 2.2.2)
>> Photo.new(:image_url => 'http://www.google.com/intl/en_ALL/images/logo.gif')
=> #<Photo image_file_name: "logo.gif", image_remote_url: "http://www.google.com/intl/en_ALL/images/logo.gif">
</pre>

Sweet.

<b>Update</b>: The example code has been updated to reflect thew suggestions left in the comments. The <i>original_filename</i> method is now defined on the fly. Thanks for the feedback! I've also split out a new method called <i>do_download_remote_image</i>, which can be used for stubbing out in tests with <a href="http://mocha.rubyforge.org/">mocha</a>:

<pre lang="ruby">
Photo.any_instance.expects(:do_download_remote_image).returns(File.open("#{Rails.root}/testhttp://s3.amazonaws.com/almosteffortless/rails.png"))
</pre>

